* {
    font-family: 'Gaegu';
    font-size: 22px;  
}
.title {
    text-align: center;
    padding: 0px;
    
}
/*sky*/
.sky {
    width: 900px;
    height: 50px;
    background: linear-gradient(10deg, rgb(13, 232, 232),rgb(93, 255, 255), rgb(12, 234, 234),rgb(12, 234, 234),rgb(12, 234, 234), rgb(170, 241, 241), rgb(12, 234, 234),rgb(12, 234, 234),rgb(13, 232, 232) );
    padding: 0px;
    margin: auto;
}
.sky1 {
    width: 900px;
    height: 50px;
    background: linear-gradient(-20deg, rgb(13, 232, 232),rgb(173, 247, 247), rgb(12, 234, 234),rgb(12, 234, 234),rgb(12, 234, 234), rgb(36, 237, 237), rgb(12, 234, 234),rgb(12, 234, 234),rgb(13, 232, 232) );
    padding: 0px;
    margin: auto;
}
.sun {
    border-radius: 50%;
    background-color: yellow;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
/* lines up each container of family unit*/
.family {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
/* puts space between each container, sets each container to vertical*/
.name {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*head*/
.head {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    display: inline-block;
}

/*torso*/
.torso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.body {
    border: 2.5px solid black;
    width: 0px;
    height: 20px;
}

.arm1 {
    background: linear-gradient(135deg, white 15px, black 18px, white 21px);
    width: 20px;
    height: 20px;
       
}

.arm2 {
    background: linear-gradient(45deg, white 7px, black 10px, white 13px);
    width: 20px;
    height: 20px;
       
}

/*legs*/

.legs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}

.leg1{
    background: linear-gradient(115deg, white 15px, black 18px, white 21px);
    width: 20px;
    height: 30px;
   
}

.leg2{
    background: linear-gradient(60deg, white 12px, black 15px, white 18px);
    width: 20px;
    height: 30px;

}

/*diff people diff heights*/

#shmaryahu .body {
    height: 50px;
}

#hillel .body {
    height: 47px
}

#moshe .body {
    height: 45px
}

#mickey .body {
    height: 43px
}

#daddy .body {
    height: 39px
}

#henna .body {
    height: 33px
}

#dasi .body {
    height: 33px
}

#mommy .body {
    height: 32px
}

#rivka .body {
    height: 30px
}

/*grass*/
.grass {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: -20px;

    }

.gr1 {
    border-right: 1.5px solid white;
    border-left: 1.5px solid white;
    border-radius: 99%;
    width: 1.5px;
    background-color: green;
    height: 26px;
}

.gr2 {
    border-right: 2px solid white;
    border-left: 1.5px solid white;
    border-radius: 97%;
    background-color: green;
    width: 1.5px;
    height: 18px;
}

.gr3 {
    border-right: 2.5px solid white;
    border-left: 2.5px solid white;
    border-radius: 99%;
    background-color: green;
    width: 2px;
    height: 30px;
}

.gr4 {
    border-right: 1.5px solid white;
    border-left: 1.5px solid white;
    border-bottom-left-radius: 90%;
    border-top-right-radius: 80%;
    background-color: green;
    width: 2px;
    height: 19px;
}

.gr5 {
    border-right: 1.5px solid white;
    border-left: 3.5px solid white;
    border-top-left-radius: 80%;
    border-bottom-right-radius: 50%;
    border-bottom: 1px;
    background-color: green;
    width: 2px;
    height: 23px;
}

.gr6 {
    border-right: 2.5px solid white;
    border-left: 1px solid white;
    border-radius: 80%;
    border-bottom: 3px;
    background-color: green;
    width: 1.8px;
    height: 27px;
}

.gr7 {
    border-right: 1px solid white;
    border-left: 4px solid white;
    border-bottom-left-radius: 97%;
    border-bottom-right-radius: 50%;
    background-color: green;
    width: 1.8px;
    height: 29px;
}

.gr8 {
    border-right: 4px solid white;
    border-left: 1px solid white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 97%;
    background-color: green;
    width: 2px;
    height: 29px;
}