.save-todo {
    display: none;
}

.todo-list{
    background-color: aqua;
    display: flex;
	flex-direction: column;
    width: 25%;
    height: 5%;
    margin-bottom: 7px;
    margin-top: 10px;
}

.completedList{
    background-color: blueviolet;
    display: flex;
	flex-direction: column;
    width: 25%;
    height: 5%;
    margin-bottom: 7px;
    margin-top: 10px;
}